/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

form#new_item {
  margin-bottom: 3%;

  input[type=text] {
    padding: 3%;
    width: 65%;
    font-size: inherit;
  }

  input[type=submit] {
    height: 38px;
  }
}

.items {
  .item {
    margin-bottom: 3%;
  }

  a {
    float: left;
    margin-right: 4%;
  }

  p {
    width: 75%;
    float: left;
  }
}